@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-magic {
    text-align: center;
    background: linear-gradient(
      70deg,
      #84fab0 0%,
      #8fd3f4 100%
    );
    background-size: 200% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: shine 5s linear infinite;
  }

  @keyframes shine {
    to {
      background-position: 200%;
    }
  }
}
