/* Inspired by this codepen:
** https://codepen.io/designfenix/embed/RwKPapa
*/
.spell-card {
  transition: ease all 2.3s;
  perspective: 1200px;
}

.card-clicked {
  transform: rotateX(0deg) rotateY(-180deg);
}

.spell-card .cover,
.spell-card .card-back,
.spell-card .card-back .content,
.spell-card .cover:before,
.spell-card .cover:after {
  transform-style: preserve-3d;
  transition: ease all 2.3s;
}

.spell-card .cover:before {
  @apply absolute top-5 left-5 right-5 bottom-5 z-10;
  transform: translateZ(0px);
}

.spell-card .cover:after {
  @apply absolute top-0 left-0 right-0 bottom-0;
}

.spell-card .card-back .content {
  transform: translateZ(-1px) rotatey(-180deg);
}

.spell-card .card-back {
  @apply bg-base-200;
  transform: translateZ(-1px);
}
